# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases (if any)
*.sqlite3

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
